.libraryNav {
  padding-top: 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid var(--secondary-accent-color-medium);
}

/* list */
.linksWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Link tag */
.link {
  text-decoration: none;
  text-align: center;

  color: var(--secondary-accent-color-light);
  border-bottom: 2px solid transparent;

  transition: all 0.2s ease-in-out;

  cursor: pointer;
}

.link:hover {
  border-bottom: 2px solid var(--secondary-accent-color-light);
}

/* List item */
.linkItem {
  margin: 0 auto;
  padding: 5px;

  text-transform: uppercase;
  text-align: center;

  list-style: none;
}
