.libraryNav {
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* list */
.linksWrapper {

    display: flex;
    justify-content: center;
    align-items: center;
}

/* Link tag */
.link {
    color: #000;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.link:hover {
    background-color: rebeccapurple;
    color: #fff;
}

/* List item */
.linkItem {
    text-align: center;
    list-style: none;
    padding: 5px;
    text-transform: uppercase;
    margin: 0 auto;
}