@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=Alegreya+Sans&family=Merriweather&family=Nunito&display=swap');

html {
    font-family: 'Alegreya Sans', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: 1176px;
}

.page-fixer {
    padding-top: var(--nav-height);
    display: flex;
    flex-direction: column;
}

.upper-level {
  position: relative;
  z-index: 10;
}

/* inputs & labels */


.formGroup {
    position: relative;
  }

.input {
  margin-top: 5px;
  color: var(--secondary-accent-color-light);
  z-index: 1;
  border: none;
  border-bottom: 2px solid var(--secondary-accent-color-light);
  background-color: transparent;
  font: inherit;
  font-size: 18px;
  padding: 10px 0;
  margin-bottom: 10px;
  outline: transparent;
  }
  
  .label {
    color: var(--secondary-accent-color-light);
    transition: 0.25s ease;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0;
    font-size: 16px;
  }
  
  .input:focus + .label,
  .input:-webkit-autofill + .label,
  .hasValue + .label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }