.songsGrid {
}

.songItem {
  border-bottom: 1px solid var(--secondary-accent-color-medium);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.itemGroup {
    display: flex;

}

.songTitle {
    font-weight: 900;
}