.homePage {
  position: relative;

  flex: 1;

  background-image: url("assets/img/hero-image-4.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  filter: grayscale(0.4);
}

.article {
  margin: 0 auto;
  margin-top: 4rem;
  padding: 1rem;

  flex: 1;
  max-width: 400px;
  min-height: 250px;

  text-align: center;

  color: #fff;
  background:
    linear-gradient(var(--color-bg-dark) 50%, var(--color-bg-medium))
    no-repeat center center;
  background-size: cover;
}

.body {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.welcomeBack {
  margin: 50px auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;
  min-height: 200px;
}

.libraryDetails {
  margin-top: 1rem;
  padding: 5rem;

  color: var(--color-dark);
  border-radius: 50%;
  background-color: var(--color-light);
}

/* Utility */
.heading {
  margin: 0;

  font-size: 2.5rem;
  font-size: 3rem;
}

.heading,
.accent {
  line-height: 1;
}

.accent {
  display: block;

  font-size: 6rem;

  color: var(--color-accent);
}

.subtitle {
  margin: 1rem 0;

  font-size: 1rem;
}

.marginY {
  margin: 1rem auto;
}

.stat {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}

.highlight {
  color: var(--color-accent);
}
