.artistForm {
  padding: 20px;
}

.formTitle {
  margin-bottom: 20px;
}



.iconBtnPlus {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.iconBtnMinus {
  display: flex;
  align-items: center;
  justify-content: center;
}


.icon {
  font-size: 18px;
}

.iconSmall {
  font-size: 16px;
}

.relative {
  position: relative;
}

.bandMembers {
  margin-top: 10px;
}

.bandMemberWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.bandMember {
  font-size: 16px;
  font-weight: normal;
  margin-right: 5px;
}

/* form footer */

.formFooter {
  display: flex;
  justify-content: flex-end;
}
