.mx10 {
  margin: 0 10px;
}

.formHeader,
.formBody,
.formFooter {
  padding: 20px 20px 0;

  border-top: 1px solid rgb(255 255 255 / 20%);
}

.formTitle {
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  align-items: center;
}

.tabTitle {
  margin-right: 10px;
  padding: 0 5px 10px;
  padding-bottom: 10px;

  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;

  color: rgb(255 255 255 / 70%);
  border-bottom: 5px solid transparent;
}

.activeTab {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.sectionTitle {
  margin-bottom: 10px;

  font-weight: 400;
}

.formFooter {
  padding-bottom: 10px;

  display: flex;
  justify-content: flex-end;
}
