.overlayBase {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0%;
  outline: 0;
  background-color: rgb(0 0 0 / 100%);

  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  transition-property: background-color, opacity;
}

.overlayAfter {
  opacity: 100%;
  background-color: rgb(0 0 0 / 85%);
}

.overlayBefore {
  opacity: 0%;
  background-color: rgb(0 0 0 / 0%);
}

.contentBase {
  position: relative;

  /*
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    */
  margin: 0 auto;

  display: grid;
  width: 0%;
  height: 0%;

  border-radius: 0;
  outline: 0;
  background-color: transparent;

  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
  transition-property: background-color, width, height;
}

.contentAfter {
  width: 400px;
  height: fit-content;

  color: #fff;
  border: 1px solid rgb(255 255 255 / 30%);
  background-color: #363636;
}

.contentBefore {
  width: 0%;
  height: 0%;

  background-color: transparent;
}
