.artistForm {
  padding: 16px;

  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100%;

  color: var(--secondary-accent-color-light);
  background-color: var(--secondary-bg-color);
}

.formTitle {
  margin-bottom: 10px;

  text-align: center;
}

.bandMembers {
  position: relative;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
}

.bandMemberWrapper {
  margin-bottom: 2px;

  display: flex;
  align-items: center;
}

.bandMember {
  margin-right: 5px;

  font-size: 16px;
  font-weight: normal;
}

.absolute {
  position: absolute;
  top: 45%;
  right: 10px;

  transform: translateY(-50%);
}
