.mainBg {
  position: relative;

  min-height: 100vh;

  background: url("assets/img/hero-image-3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  filter: sepia(0.25) grayscale(0.1);
}
