.btn {
  padding: 5px;

  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;

  font: inherit;
  font-family: inherit;
  text-transform: uppercase;

  color: inherit;
  border: none;
  border-radius: 3px;

  cursor: pointer;
  appearance: none;
}

/* Btn Styles */
.outlineLight {
  color: var(--main-bg-color);
  border: 2px solid var(--secondary-accent-color-light);
  background: none;
}

.outlineDark {
  color: var(--main-bg-color);
  border: 2px solid var(--main-bg-color);
}

.fillLight {
  color: var(--main-bg-color);
  background: var(--secondary-accent-color-light);
}

.fillDark {
  color: var(--secondary-accent-color-light);
  background: var(--main-bg-color);
}

.light {
  color: #fff;
}

.dark {
  color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
}
