.btn {
  display: block;
  border: none;
  appearance: none;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  font: inherit;
  padding: 5px;
  max-width: 150px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

/* Btn Styles */
.outlineLight {
  background: none;
  border: 2px solid var(--secondary-accent-color-light);
  color: var(--main-bg-color);
}

.outlineDark {
  border: 2px solid var(--main-bg-color);
  color: var(--main-bg-color);
}

.fillLight {
  background: var(--secondary-accent-color-light);
  color: var(--main-bg-color);
}
.fillDark {
  background: var(--main-bg-color);
  color: var(--secondary-accent-color-light);
}



.light {
}

.dark {
  color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
}
