.settingsBody {
  position: absolute;
  bottom: 0;
  z-index: 43;
  padding: 10px 0;

  min-width: 150px;

  color: #f4f4f4;
  border: 1px solid rgb(255 255 255 / 30%);
  background-color: rgb(26 23 23);
}

.btnWrapper {
  display: block;

  font: inherit;
  font-family: inherit;

  color: inherit;
  border: none;
  background: none;

  cursor: pointer;
  appearance: none;
}

.controlItem {
  padding: 5px;

  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;

  transition: background-color 0.3s ease-in-out;
}

.controlItem:hover {
  background-color: rgb(255 255 255 / 10%);
}

.controlItem:active {
  background-color: rgb(255 255 255 / 20%);
}

.icon {
  margin-right: 5px;

  font-size: 20px;
}
