.albumTitle {
  font-size: 30px;
}

.detailsHeader {
  display: flex;

  background: #f4f4f4;
}

.imgWrapper {
  display: flex;
  max-width: 250px;
}

.detailsBox {
  margin-left: 32px;
  padding: 10px;

  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.albumDetails {
  margin-top: 15px;
  margin-bottom: 15px;
}
