.img {
  max-width: 100%;
}

.album {
  transition: transform 0.3s ease;
}

.albumBody {
  position: relative;
  z-index: 1;
  margin-top: 10px;

  overflow: hidden;
  max-width: 200px;
  max-height: 200px;

  color: var(--color-light);
  background: inherit;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
}

.albumBody::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -20px;

  box-shadow: inset 0 0 2000px rgb(255 255 255 / 50%);
  filter: blur(10px);

  content: "";
}

.album:hover {
  margin-top: 0;

  transform: translateY(-10px);
}

.iconBtnWrapper {
  position: absolute;
  top: 2px;
  right: -6px;

  border-radius: 50%;
}

.editIcon {
  padding: 3px;

  font-size: 25px;

  color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  border-radius: 50%;
  background-color: var(--secondary-accent-color-light);

  transition: all 0.1s ease-in-out;
}

.editIcon:hover {
  color: var(--color-dark);
  background-color: #fff;
}

.editIcon:active {
  color: #fff;
  background-color: var(--main-bg-color);
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.albumFooter {
  margin-top: 5px;

  color: var(--color-light);
}

.albumDetails {
  margin-top: 5px;
}

.detail {
  margin-right: 5px;
}

.title:hover,
.detail:hover {
  text-decoration: underline;

  cursor: pointer;
}
