


.img {
    max-width: 100%;
}

.imgWrapper {
    max-width: 150px;
}


.album {
    max-width: 150px;
    color: var(--secondary-accent-color-light);
}

.iconBtnWrapper {
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 50%;
}

.editIcon {
    font-size: 25px;
    background-color: var(--secondary-accent-color-light);
    border: 1px solid var(--main-bg-color);
    color: var(--main-bg-color);
    border-radius: 50%;
    padding: 3px;
    transition: all 0.1s ease-in-out;
}
.editIcon:hover {
    background-color: #fff;
    color: var(--main-accent-color-dark);

}

.editIcon:active {
    background-color: var(--main-bg-color);
    color: #fff;
}




.albumBody {
    position: relative;
}

/* .albumBody:hover:after {
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 3;
} */

.albumBody:hover {
    background-color: rgba(0, 0, 0, 0.50);
    cursor: pointer;

}

.title {
    font-size: 16px;
    font-weight: bold;
}

.albumFooter {
    margin-top: 5px;
}

.albumDetails {
    margin-top: 5px;
}

.detail {
    margin-right: 5px;
}

.title:hover,
.detail:hover {
    text-decoration: underline;
    cursor: pointer;
}
