.btn {
  padding: 5px;
  padding: 0 1rem;

  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  min-height: 2.25rem;

  font: inherit;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;

  color: var(--color-dark);
  color: inherit;
  border-radius: 20px;
  background-color: var(--color-light);

  transition: background-color 0.4s ease-in-out;

  cursor: pointer;
  appearance: none;
}

.btn:hover {
  color: var(--color-light);
  background-color: var(--color-accent);
}

.transparent {
  font-weight: inherit;
  text-transform: none;

  border: none;
  background-color: transparent;
}

.transparent:hover {
  background-color: transparent;
}
