.artist {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: all 0.05s ease;
    cursor: pointer;
    border-bottom: 1px solid var(--secondary-accent-color-medium)
}

.artist:hover {
    background-color: rgba(0, 0, 0, 0.781);
    color: var(--secondary-accent-color-light);
}

.artist:hover .subDetail {
    color: var(--secondary-accent-color-light);
}


.imgWrapper {
    display: flex;
    width: 50px;
}

.imgWrapper > img {
    border-radius: 50%;

}

.details {
    flex: 1;
    margin-left: 10px;
}

.title {
    font-weight: 900;
    margin-bottom: 4px;
    color: var(--secondary-accent-color-light);
}

.subDetail {
    color: var(--secondary-accent-color-medium);
}