.artist {
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid var(--color-dark);

  transition: all 0.05s ease;

  cursor: pointer;
}

.artist:hover {
  color: var(--color-light);
  border-left: 3px solid var(--color-accent);
  background-color: rgb(0 0 0 / 78.1%);
}

.artist:hover .subDetail {
  color: var(--color-light);
}

.imgWrapper {
  display: flex;
  width: 50px;
}

.imgWrapper > img {
  border-radius: 50%;
}

.details {
  margin-left: 10px;

  flex: 1;
}

.title {
  margin-bottom: 4px;

  font-weight: 900;

  color: var(--secondary-accent-color-light);
}

.subDetail {
  color: var(--secondary-accent-color-medium);
}
