.authPage {
  padding: 5rem;

  flex: 1;
  width: 100%;
  min-height: 100vh;

  background-image: url("assets/img/hero-image-5.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  filter: grayscale(0.4);
}
