.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.link {
  color: var(--secondary-accent-color-light);
}

.songItem {
  display: flex;
  border-bottom: 1px solid var(--secondary-accent-color-medium);
  align-items: center;
  padding: 5px 2px;
  min-height: 50px;
  color: var(--secondary-accent-color-light);
  transition: all 0.05s ease;
}

.songItem:hover {
  background-color: var(--secondary-accent-color-color-dark-hover);
}

.songItem:hover,
.songItem:hover .link {
  color: var(--secondary-accent-color-light);
}

.imgWrapper {
  width: 40px;
  padding: 3px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.imgWrapper > img {
  border-radius: 5px;
}

.songDetails {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.songDetail:last-child {
  justify-self: end;
}

.gridSpan3 {
  grid-column: 3/ 5;
}

.songIndex {
  margin-right: 10px;
}
