.albumForm {
    max-width: 100%;
    flex: 1;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-accent-color-light);
}

.formTitle {
  text-align: center;
  margin-bottom: 10px;
}