.albumForm {
  padding: 16px;

  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100%;

  color: var(--secondary-accent-color-light);
  background-color: var(--secondary-bg-color);
}

.formTitle {
  margin-bottom: 10px;

  text-align: center;
}
