.controls {
  background-color: #b7f7cc;
  padding: 5px;
}

.controlsWrapper {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  appearance: none;
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:active {
  background-color: #54f;
}

.icon {
  font-size: 20px;
}
