.filter {
  margin-bottom: 5px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.filterBtn {
  padding: 5px;

  border: none;
  background-color: transparent;

  cursor: pointer;
  appearance: none;
}

.icon {
  font-size: 16px;
}
