.grid {
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;

  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  max-width: 1176px;
  grid-gap: 16px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: inherit;

  cursor: pointer;
  appearance: none;
}

.icon:active {
  background-color: #54f;
}

.icon {
  font-size: 20px;
}
